<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Login Page</title>

        <!--Stylesheets-->
        <link href="../stylesheets/styles/styles.css" rel="stylesheet">
    </head>
    <body>
        <section class="contains">
            <header class="rows">
                <figure class="column-xs-12 column-sm-4 column-md-4 column-lg-4 img1">
                    <img src="../Images/header_logo.png" width="196" height="112" class="img-responsive">
                </figure>
                <nav class="column-xs-12 column-sm-8 column-md-8 column-lg-8 nav1">
                    <ul>
                        <li>
                            <a>Jobs</a>
                        </li>
                        <li>
                            <a>Articles</a>
                        </li>
                        <li>
                            <a>Tools</a>
                        </li>

                    </ul>
                </nav>
            </header>
            <article>
                <header class="rows1">
                    <div class="column-xs-12 column-sm-4 column-md-4 column-lg-4 test">
                        <ol class="breadcrumb"> 
                            <li class="a1">
                                <a href="login.html">Home</a>
                            </li>  
                            <li class="active">
                                <a>Coding Ground</a>
                            </li>
                        </ol>
                    </div>
                </header>
                <section>
                    <div class="rows4">
                        <form name="detailsform" class="form-login">
                            <!--firstname-->
                            <div class="column-xs-12 column-sm-6 column-md-6 column-lg-6">
                                <label for="uname">FirstName:</label>
                                <div class="column-xs-12 column-sm-6 column-md-6 column-lg-6 input1">
                                    <input type="text" id="uname" name="firstname" value=""  required/>
                                </div>

                            </div>
                            <br/>
                            <!--LastName-->
                            <div class="column-xs-12 column-sm-6 column-md-6 column-lg-6">
                                <label for="lname">LastName:</label>
                                <div class="column-xs-12 column-sm-6 column-md-6 column-lg-6 input1">
                                    <input type="text" id="lname" name="lastname" value=""  required/>
                                </div>
                            </div>
                            <br/>

                            <!--Email-->
                            <div class="column-xs-12 column-sm-6 column-md-6 column-lg-6">
                                <label for="email">Email:</label>
                                <div class="column-xs-12 column-sm-6 column-md-6 column-lg-6">
                                    <input type="email" id="email" name="email" required/>
                                </div>
                            </div>
                            <br/>

                            <!--Phone-->
                            <div class="column-xs-12 column-sm-6 column-md-6 column-lg-6">
                                <label for="phone">PhoneNumber:</label>
                                <div class="column-xs-12 column-sm-6 column-md-6 column-lg-6">
                                    <input type="text" id="phone" name="phone" required/>
                                </div>
                            </div>
                            <br/>

                            <div class="column-xs-12 column-sm-6 column-md-6 column-lg-6">
                                <label for="hobby">Hobbies:</label>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <select  id="hobby" name="hobbies" style="width:131px" required>
                                        <option></option>
                                        <option>Music</option>
                                        <option>Dance</option>
                                        <option>Reading</option>
                                        <option>Browsing</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <footer>
                </footer>
            </article>
            <footer class="rows3">
                <nav class="column-xs-12 column-sm-8 column-md-8 column-lg-8 nav2">
                    <ul>
                        <li>
                            <a>Mobile First</a>
                        </li>
                        <li>
                            <a>Extra Links</a>
                        </li>
                        <li>
                            <a>About us</a>
                        </li>
                        <li>
                            <a>Contact Us</a>
                        </li>
                    </ul>
                </nav>

            </footer>
        </section>
    </body>
</html>