<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Employee Form</title>

        <!--style - this is used to write CSS style on the html file itself-->
        <style>

        </style>

        <!--this is used to source only css files and images-->
        <link href="../styles/sarika.css" rel="stylesheet"/>


        <!--this is optional and to be written based on server configuration-->
        <base href="/home" />

        <!--meta - this is used to describe more mata information which are not covered by the above five-->
        <meta name="description" content="This is the official Employee website for applying Employee Details"/>
        <meta name="keywords" content="Employee form, form Details" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    </head>
    <body>
         <article>
             <!--page header-->
             <header>
                 <h1>Welcome to my Employee website!</h1>
             </header>

             <!--main body of the page-->
             <section>
                 <!--form for Employee-->
                 <form name="EmployeeForm">
                     <div>
                      <!--Unordered list-->
                         <ul>
                             <li>Home</li>
                             <li>About</li>
                             <li>Contact</li>
                         </ul>
                     </div>
                     <br/>
                     <!--First Name-->
                     <div>
                         <label for="firstName">Applicant's First Name:</label>
                         <input type="text" id="firstName" name="fName" placeholder="Enter your First Name"/>
                     </div>
                     <br />
                     <!--Last Name-->
                     <div>
                         <label for="lastName">Applicant's Last Name:</label>
                         <input type="text" id="lastName" name="lName" placeholder="Enter your Last Name"/>
                     </div>
                     <br />
                     <!--Phone Number-->
                     <div>
                         <label for="phoneNumber">Applicant's Phone Number:</label>
                         <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Enter your Phone Number" />
                     </div>
                     <br />
                     <!--Gender-->
                     <div>
                         <label for="gender">Applicant's Gender:</label>
                         <div id="gender">
                             <!--male-->
                             <label for="male">Male:</label>
                             <input type="radio" id="male" name="gender" value="Male"/>

                             <!--female-->
                             <label for="female">Female:</label>
                             <input type="radio" id="female" name="gender" value="Female"/>
                         </div>
                     </div>
                     <br/>
                     <!--Email-->
                     <div>
                         <label for="email">Email:</label>
                         <input type="email" id="email" name="email" placeholder="Enter your Email" />
                     </div>
                     <br/>
                     <!--Password-->
                     <div>
                         <label for="password">Password:</label>
                         <input type="password" id="password" name="pwd" placeholder="Enter your Password"/>
                     </div>
                     <br/>
                     <!--senior citizen-->
                     <div>
                         <label for="seniorCitizen">Is applicant a senior citizen?</label>
                         <input type="checkbox" id="seniorCitizen" name="seniorCitizen"/>
                     </div>
                     <br/>
                     <div>
                     <!--submit button-->
                     <button type="submit" id="submit">
                         <span>Submit</span>
                     </button>
                     <!--reset/cancel-->
                     <button type="reset" id="reset">
                         <span>Cancel</span>
                     </button>
                     </div>
                 </form>
             </section>

             <!--footer of the page-->
             <footer>
                 This is a Footer
             </footer>
         </article>
    </body>
</html>