form {
      border: 2px solid #000;;
      display: inline-block;
      width: 280px;
     }
input[type=text],[type=email], [type=password], [type=radio] ,[type=checkbox] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      border: 3px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      }
button[type=submit] {
      background-color: #45a049;
      color: white;
      border: none;
      margin: auto;
      }
button[type=reset] {
      background-color: #f44336;
      color: white;
      border: none;
      margin: auto;
      }
div  {
      display: inline-block;
     }
label {
      display: block;
      }
li   {
     list-style-type:none;
     display:inline;
     padding: 8px;
     }
section{
       border-radius: 1em;
       padding: 1em;
       position: absolute;
       top: 50%;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%)
       }
footer{
       padding: 1em;
       position: absolute;
       bottom: 10px;
       left: 43%;
       margin-right: -50%;
       transform: translate(-50%, -50%)
       }







