/* constant variable */
@media only screen and (min-width: 1200) {
  .column-lg-1 {
    width: 8.33333333%;
  }
  .column-lg-2 {
    width: 16.66666667%;
  }
  .column-lg-3 {
    width: 25%;
  }
  .column-lg-4 {
    width: 33.33333333%;
  }
  .column-lg-5 {
    width: 41.66666667%;
  }
  .column-lg-6 {
    width: 50%;
  }
  .column-lg-7 {
    width: 58.33333333%;
  }
  .column-lg-8 {
    width: 66.66666667%;
  }
  .column-lg-9 {
    width: 75%;
  }
  .column-lg-10 {
    width: 83.33333333%;
  }
  .column-lg-11 {
    width: 91.66666667%;
  }
  .column-lg-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .column-md-1 {
    width: 8.33333333%;
  }
  .column-md-2 {
    width: 16.66666667%;
  }
  .column-md-3 {
    width: 25%;
  }
  .column-md-4 {
    width: 33.33333333%;
  }
  .column-md-5 {
    width: 41.66666667%;
  }
  .column-md-6 {
    width: 50%;
  }
  .column-md-7 {
    width: 58.33333333%;
  }
  .column-md-8 {
    width: 66.66666667%;
  }
  .column-md-9 {
    width: 75%;
  }
  .column-md-10 {
    width: 83.33333333%;
  }
  .column-md-11 {
    width: 91.66666667%;
  }
  .column-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .column-sm-1 {
    width: 8.33333333%;
  }
  .column-sm-2 {
    width: 16.66666667%;
  }
  .column-sm-3 {
    width: 25%;
  }
  .column-sm-4 {
    width: 33.33333333%;
  }
  .column-sm-5 {
    width: 41.66666667%;
  }
  .column-sm-6 {
    width: 50%;
  }
  .column-sm-7 {
    width: 58.33333333%;
  }
  .column-sm-8 {
    width: 66.66666667%;
  }
  .column-sm-9 {
    width: 75%;
  }
  .column-sm-10 {
    width: 83.33333333%;
  }
  .column-sm-11 {
    width: 91.66666667%;
  }
  .column-sm-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .column-xs-1 {
    width: 8.33333333%;
  }
  .column-xs-2 {
    width: 16.66666667%;
  }
  .column-xs-3 {
    width: 25%;
  }
  .column-xs-4 {
    width: 33.33333333%;
  }
  .column-xs-5 {
    width: 41.66666667%;
  }
  .column-xs-6 {
    width: 50%;
  }
  .column-xs-7 {
    width: 58.33333333%;
  }
  .column-xs-8 {
    width: 66.66666667%;
  }
  .column-xs-9 {
    width: 75%;
  }
  .column-xs-10 {
    width: 83.33333333%;
  }
  .column-xs-11 {
    width: 91.66666667%;
  }
  .column-xs-12 {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}
.rows {
  position: relative;
  left: 0%;
  margin-top: -16px;
  margin-left: -10px;
  margin-right: -12px;
  background-color: #afc4db;
  display: block;
}
.rows .img1 .img-responsive {
  margin: -31px;
}
.rows .nav1 {
  position: absolute;
  top: -12%;
  right: 13%;
}
.rows .nav1 ul {
  list-style: none;
  position: relative;
  left: 63%;
}
.rows .nav1 ul li {
  display: inline-block;
  padding: 8px 7px;
  color: #000;
}
.rows .nav1 ul li:hover a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.rows1 {
  margin-right: 2px;
  margin-top: -12px;
}
.rows1 .test {
  width: 100%;
}
.rows1 .test .breadcrumb {
  padding: 5px 15px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.rows1 .test .breadcrumb li {
  display: inline-block;
  padding: 1px 5px;
  cursor: pointer;
}
.rows1 .test .breadcrumb > .a1 a {
  text-decoration: none;
  color: #337ab7;
}
.rows1 .test .breadcrumb > .a1:hover a {
  text-decoration: underline;
  color: #eb590b;
  cursor: pointer;
}
.rows1 .test .breadcrumb > .active {
  color: #777;
}
.rows2 {
  text-align: center;
  margin: auto;
  width: 39%;
  height: 300px;
  background-color: #7895ca;
  border: 5px solid black;
}
.rows2 .form-login {
  position: relative;
  margin: 2px;
  left: 1%;
  top: 17%;
  text-align: center;
}
.rows2 .form-login .button-signin {
  height: 28px;
  border-radius: 5px;
  box-shadow: 0 0 0 transparent;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #6cc644;
  background-color: #6cc644;
  color: #fff;
}
.rows2 .form-login .button-signin:hover {
  background-color: #9bf816;
  color: black;
  cursor: pointer;
  box-shadow: 1px 1px 5px #000;
}
.rows2 .form-login .button-cancel {
  height: 28px;
  border-radius: 5px;
  box-shadow: 0 0 0 transparent;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #ff0000;
  background-color: #ff0000;
  color: #fff;
}
.rows2 .form-login .button-cancel:hover {
  background-color: #e43957;
  color: black;
  cursor: pointer;
  box-shadow: 1px 1px 5px #000;
}
.rows3 {
  background-color: #afc4db;
  width: 156%;
  margin: 300px -12px;
  position: fixed;
}
.rows3 .nav2 {
  position: relative;
  /* margin: 15px; */
  left: -19%;
  top: 17%;
  text-align: center;
}
.rows3 .nav2 ul {
  list-style: none;
  /* position: relative; */
  /* left: 1%; */
}
.rows3 .nav2 ul li {
  display: inline-block;
  padding: 2px 11px;
  color: #000;
}
.rows3 .nav2 ul li:hover a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.rows4 {
  text-align: center;
  margin: auto;
  width: 50%;
  height: 311px;
  background-color: #7895ca;
  border: 5px solid black;
}
.rows4 .form-login[name="detailsform"] {
  width: 62%;
  margin: 42px auto;
  text-align: center;
}
