form {
      border-style: solid;
      border-width: 2px;
      background-color: #8ca5e9;
     }
input[type=text],[type=email], [type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }
button[type=submit] {
      background-color: #45a049;
      color: white;
      border: none;
      margin: auto;
      }
button[type=reset] {
      background-color: #f44336;
      color: white;
      border: none;
      margin: auto;
      }
#div1{
      text-align:center;
     }