<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Login Page</title>

        <!--Stylesheets-->
        <link href="../stylesheets/styles/styles.css" rel="stylesheet">
    </head>
    <body>
        <section class="contains">
            <header class="header1 rows">
                <div class="column-6">
                    <img src="../Images/header_logo.png">
                </div>
            </header>
            <article class="contains">
                <header class="rows header2">
                    <ol class="breadcrumb">
                        <li><a href="home.html">Home</a></li>

                    </ol>
                </header>
                <section>

                    <div class="rows">
                        <form>
                            <!--"firstname-->
                            <div class="column-12">
                                <div class="column-3">
                                    <label for="fname">FirstName</label>
                                </div>
                                <div class="column-3 column-offset-6">
                                    <input type="text" id="fname" name="firstname" value="" required/>
                                </div>
                            </div>

                            <div class="column-12">
                                <div class="column-3">
                                    <label for="lname">LastName</label>
                                </div>
                                <div class="column-3 column-offset-6">
                                    <input type="text" id="lname" name="lastname" value="" required/>
                                </div>
                            </div>

                            <div class="column-12">
                                <div class="column-3">
                                    <label for="email">Enter your Email</label>
                                </div>
                                <div class="column-3 column-offset-6">
                                    <input type="email" id="email" name="email" required/>
                                </div>
                            </div>

                            <div class="column-12">
                                <div class="column-3">
                                    <label for="phoneNumber">Phone Number</label>
                                </div>
                                <div class="column-3 column-offset-6">
                                    <input type="text" id="phoneNumber" name="phoneNumber" required/>
                                </div>
                            </div>

                            <div class="column-12">
                                <div class="column-3 column-offset-6">
                                    <label for="hobbies">Hobbies</label>
                                </div>
                                <div class="column-3 column-offset-6">
                                    <select name="hobbies" id="hobbies" style="width: 200px;">
                                        <option value=""></option>
                                        <option value="music">Music</option>
                                        <option value="dance">Dance</option>
                                        <option value="reading">Reading</option>
                                        <option value="browsing">Browsing</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <footer></footer>

            </article>
            <footer></footer>
        </section>
    </body>
</html>