<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Login Page</title>

        <!--Stylesheets-->
        <link href="../stylesheets/styles/styles.css" rel="stylesheet">
    </head>
    <body>
        <section>
            <header class="header1">
                <img src="../Images/header_logo.png">
            </header>
            <article class="contains">
                <div class="row">
                    <form>
                        <!--"username-->
                        <div class="column-12">
                            <label for="uname" class="column-3">Enter Username</label>
                            <div class="column-3 column-offset-6 div1">
                                <input type="text" id="uname" name="username" value="" required/>
                            </div>
                        </div>
                        <div class="column-12">
                            <label for="pwd" class="column-3 label1">Enter Password</label>
                            <div class="column-3 column-offset-6 div1">
                                <input type="password" id="pwd" name="password" value="" required/>
                            </div>
                        </div>
                        <br/>
                        <div class="column-12">
                            <!--Login button-->
                            <button type="submit">Submit</button>

                            <!--Cancel button-->
                            <button type="reset">Cancel</button>
                        </div>

                    </form>
                </div>
            </article>
            <footer></footer>
        </section>
    </body>
</html>